/* apply a natural box layout model to all elements */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'ChicagoFLF';
  src: url('../fonts/ChicagoFLF.ttf') format('truetype'); /* Safari, Android, iOS */
}

html,
body {
  background-color: #111;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'ChicagoFLF', 'Times New Roman', 'Georgia', serif;
  overflow: hidden;
}

/* Hide only visually, but have it available for screenreaders & for SEO purposes. See h5bp.com/v */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
